@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

$primary-color: #ff5a3c;
$secondary_color: #f2f6f7;
$tertairy_color: #ffffff;
$quadrinary-color: #3c44ff;

$quadrinary-color-fade: #3c42ffb2;

$inactive-color: grey;
